.kanban-container {
    position: fixed;
    left: 0;
    top: 0;
    background: #f8f9fa;
    border-right: 2px solid #ddd;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    transition: width 0.2s ease, height 0.2s ease;
    overflow: hidden;
    resize: both;
    min-width: 25%;
    max-width: 65%;

    min-height: 25%;
    max-height: 65%;
}

.kanban-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-bottom: 2px solid #444;
}

.kanban-header h1 {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #444;
}

.kanban-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    height: calc(100% - 60px);
    scrollbar-width: thin;
    scrollbar-color: #ccc #f8f9fa;
}

.kanban-column::-webkit-scrollbar {
    height: 6px;
}

.kanban-column::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.kanban-column::-webkit-scrollbar-track {
    background: #f8f9fa;
}

.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    cursor: nwse-resize;
    border-radius: 50%;
    opacity: 0.5;
}

.resize-handle:hover {
    opacity: 1;
}

.add-task{
    margin-top: 10px;
}

